.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  min-height: 200px;
  padding-top: 20px;
  border: 15px solid var(--retro-secondary-color);
}

.footer > .links > a {
  margin: 0 10px;
}

.footer p {
  color: var(--retro-primary-color);
}
